# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Next.js
.next/
out/

# Mac system files
.DS_Store

# VSCode
.vscode/

# IDE workspace files
*.code-workspace

# TypeScript
tsconfig.tsbuildinfo

# Prisma
prisma/@prisma/
